* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// flex content using @mixin

@mixin flex($justify, $align-item) {
    display: flex;
    justify-content: $justify;
    align-items: $align-item;
}

$color: white;

// header section start

header {

    @include flex(space-between, center);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    color: $color;
    padding: 10px;

    // logo section start

    .logo {
        font-size: xxx-large;
        font-weight: bold;
    }

    // logo section end

    // navigation list start

    nav {
        @include flex(space-between, center);
        gap: 10px;
        width: 50%;

        a {

            color: $color;
            text-decoration: none;
            font-size: large;
            padding: 10px;

            &:hover {
                border-bottom: 2px solid green;
            }

        }

    }

    // navigation list ended
}

// header section ended

main {
    background-image: url('./image/ai-generated-8659507_1920.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center, center);
    flex-direction: column;

    p:first-child {
        text-transform: uppercase;
        color: $color;
        text-shadow: 2px 2px 3px black;
        font-size: 5rem;
        text-align: center;

        span {
            color: royalblue;
        }
    }

    p:nth-child(2) {
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px black;
    }
}