* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;

    background-color: #fff8f5;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.list ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}
a{
    text-decoration: none;
}
button{
    margin: 2px;
    border: none;
    background-color: #fff8f5;
}