* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    .jersey-20-charted-regular {
        font-family: "Jersey 20 Charted", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

/* container section */
.container {

    display: flex;
    flex-direction: column;


}

/* home page  */

.home {
    position: absolute;
    z-index: -1;
    height: 100svh;
    width: 100%;
    background-image: url("./image/homeimage.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
}

/* header section */

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* position: fixed;
    z-index: 1; */
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.logo img {
    /* height: 3vh; */
    width: 4vw;
    aspect-ratio: 1;
    border-radius: 50%;
}

.list ul {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}

.list a {
    padding: 2px;
}

.list a:hover {

    border-bottom: 2px solid black;
    background-color: rgba(211, 211, 211, 0.3);
}

.logo p {
    font-size: 30px;
    font-weight: bold;

}

a {
    color: white;
    text-decoration: none;
}

button {
    margin: 2px;
    border: none;
    background: none;
}

.login a {

    padding: 4px 10px;
    color: black;
    border: 1px solid rgba(211, 211, 211, 0.5);
    border-radius: 5px;
}

.login a:hover {
    background-color: lightgray;
}

/* end header */

/* main section */
.main {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.heading {
    margin-top: -5rem;
    text-align: center;
    padding: 50px;
}

.heading h1 {
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 10px;
}

/* start search bar */

.search_bar {
    padding: 1.5rem;
    /* margin-top: 5rem; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(197, 194, 194);
    outline-offset: 5px;
    border-radius: 10px;
    width: 60%;
    /* height: 15vh; */
}

.sitem p {
    margin-bottom: 4px;
    padding: 5px;
    color: gray;
}

.i {

    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.i p {
    color: black;
}

.sitem {
    padding: 5px;
    border-right: 1px solid lightgray;
    gap: 10px;

}

.search_item4 {
    border: none;
}

/* icon */

.ri-arrow-drop-down-line {
    font-size: 20px;
}

.search_item4 a {
    background-color: rgb(26, 22, 22);
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    margin-left: 1rem;

    &:hover {
        background-color: lightgray;
        color: black;

    }
}

/* end search bar */

/* start profile */

.profile {

    padding: 3rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    display: flex;
    flex: 1;

}

.p_image {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex: 1;
}

.p_image .gray {
    /* color: lightgray; */
    color: rgb(210, 116, 44);
}

.p_image img {

    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
}

.description {
    display: flex;

    text-align: center;
    font-size: xx-large;
    /* flex: 1; */
}

.description span {
    color: rgb(210, 116, 44);
}

.ri-star-fill {
    color: white;
    padding: 1px;
    background-color: rgb(27, 184, 98);
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: large;
    /* text-align: center; */
    align-items: center;
    flex: 1;
}

.rating span {
    color: rgb(210, 116, 44);
}

/* End profile */


/* start line  */

.line {
    display: flex;
    align-items: center;
}

hr {
    height: 4px;
    width: 100%;
    background-color: black;
}

.circle {
    margin: 0px 10px;
    padding: 2px;
    display: flex;
}

.circle i:nth-child(1) {

    color: rgb(210, 116, 44);
}

/* End line */

/* start about section */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80svh;
    margin: 50px auto;
    gap: 50px;
    padding-left: 1rem;
}

.txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    /* height: 50svh; */
}

.txt span {
    color: rgb(27, 184, 98);
}

.about p:first-child {
    margin-bottom: 20px;
    font-size: xxx-large;
    color: black;

}

.about p:nth-child(2) {
    /* font-size: small; */
    color: gray;
}



.a_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40svh;

}

.ic {
    font-size: large;
    text-align: center;
}

.ic img {
    width: 150px;
    aspect-ratio: 1;
    margin: 10px;

}


.ic p:nth-child(2) {
    font-size: small;
    margin: 10px;
}

/* End about section */

/* start dream home */


.dream_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin: 0px auto;


}

/* start image */

.image1 {
    border-radius: 20px;
    padding: 20px;
    height: 80vh;
    width: 50%;
    background-color: rgb(215, 177, 177);
    overflow: hidden;
    position: relative;
}


.image1 img {
    position: absolute;
    height: 100%;

    width: 100%;

}



.p1 {
    font-size: xxx-large;
}



.play-icon {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 18vh;


}


.p2 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    height: 20vh;
    width: 35%;


}

.ri-play-circle-fill {
    border-radius: 50%;
    outline: rgba(143, 146, 143, 0.4) solid 10px;

    font-size: 4rem;
}

.p2 p:nth-child(2) {
    text-align: center;
    color: gray;
}

.p2 p:first-child {
    font-weight: bold;
    font-size: xx-large;
}

.image-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    width: 45%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    margin-top: 145px;
    gap: 10px;

}

.i-set {
    display: flex;
    justify-content: center;
    height: 9vh;
    /* width: 50%; */
    align-items: center;

}

.i-set img {
    height: 60px;
    border-radius: 50%;
    position: relative;
    outline: white solid 5px;

}

.i-set img:nth-child(1) {
    position: relative;

}

.i-set img:nth-child(2) {
    position: relative;
    left: -10px;
}

.i-set img:nth-child(3) {
    position: relative;
    left: -20px;
}

.i-set img:nth-child(4) {
    position: relative;
    left: -30px;
}



/* end image */

/* start description */

.description_1 {
    display: flex;
    flex-direction: column;

    padding: 20px 30px;
    width: 45%;
    height: 80vh;
    border-radius: 10px;
    gap: 30px;

    outline: rgba(146, 160, 175, 0.4) solid 10px;
}

.description_1 hr {
    width: 100%;
}

.para1 {
    text-align: start;

}

.para1 p {
    font-size: 20px;
    padding: 10px 0px;

}

.para1 p:first-child {
    font-size: xx-large;
    font-weight: bold;
    padding: 0%;
}

.para2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.plus p:first-child {
    font-size: xxx-large;
}

.plus span {
    font-size: xx-large;
}

.plus {
    display: flex;

    justify-content: center;
}

.para3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.para3 p {
    line-height: 30px;
    font-size: 20px;
}

.para4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.para4 a {
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
}

.para4 p {
    font-size: 20px;
}

.para-child {
    display: flex;

}

/* end description */

/*  start location  */

.location {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
    background-image: url('./image/modern-luxury-domestic-room-comfortable-relaxation-generative-ai.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

.loc_txt {
    padding: 8% 0;
    text-align: center;
    color: white;

}

.loc_content {
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
}

.loc_txt p:first-child {
    padding: 20px;
    font-size: xxx-large;
}

.loc_img {
    display: flex;
    width: 70%;
    gap: 20px;
    margin: auto;
    justify-content: space-between;


}

.loc {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url('image/home_top.jpg');
 
    position: relative;
    height: 250px;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding: 15px;


}

.loc_img1 {
    background-image: url('image/kelowna_home_1.jpg');
}

.loc_img2 {
    background-image: url('image/california_home_2.jpg');
}

.loc_img3 {
    background-image: url('image/new_york_home_3.jpg');
}

.loc_img4 {
    background-image: url('image/miami_home_4.jpg');
}

.loc p:nth-last-child(1) {
    color: lightgrey;
}

/* End location */

/* start background image (bg home) */


/* End background image (bg home) */


/* start listing  */
.new_listing {
    padding: 30px;
    min-height: 100vh;
    padding: 8% 15%;

    /* width: 70%;
    margin: auto; */
    background-color: rgb(250, 244, 237);

    /* start heading and link  */
    .list_head {
        margin: 0 20px;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list_txt p:first-child {
        font-size: xxx-large;
    }

    .link_a a {
        background-color: black;
        padding: 10px 20px;
        border-radius: 10px;
    }

    /* end heading and link */

    /* start card */
    .home_card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 40px;
    }

    .hcard {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }

    .hcard_image {
        padding: 10px;
        /* background-image: url("./image/ghaziabad-uttar-pradesh-homes-photos.webp"); */
        height: 200px;
        background-size: cover;
        border-radius: 10px;

    }

    .card_h1 {
        background-image: url("./image/images/card1.jpeg");

    }

    .card_h2 {
        background-image: url("./image/images/card2.webp");

    }

    .card_h3 {
        background-image: url("./image/images/card3.jpeg");

    }

    .card_h4 {
        background-image: url("./image/images/card4.jpg");

    }

    .card_h5 {
        background-image: url("./image/images/card5.jpeg");

    }

    .card_h6 {
        background-image: url("./image/images/card6.jpg");

    }


    .hcard_image p {
        background-color: rgb(27, 184, 98);
        border-radius: 10px;
        display: inline;
        font-size: small;
        padding: 2px 5px;
        color: white;
    }


    .hcard_txt {
        margin-top: 10px;

    }

    .fa-solid {
        color: black;
    }

    .card_txt1 p:nth-child(1) {
        font-size: x-large;
    }

    .card_txt1 p:nth-child(2) {
        color: gray
    }

    .ri-hotel-bed-line {
        color: gray;
    }

    .detail>p>i {
        color: gray;
    }

    .detail {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px dotted gray;
        padding-bottom: 10px;
    }



    /* .hcard hr {
        width: 100%;
    } */

    .hcard img {
        height: 200px;
        border-radius: 20px;
    }

    .money {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .money p {
        font-size: x-large;
    }

    .money .ri-arrow-right-up-line {
        background-color: black;
        color: white;
        padding: 0.5rem;
        border-radius: 50%;
        font-size: 1.5rem;
    }

    /* end card */
}

/* start deal */

.deal {
    height: 60vh;
    width: 100%;
    background-image: url("./image/home-7860106_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;



    .deal_txt {

        margin: auto 0;
    }

    .deal_txt p:first-child {
        font-size: xxx-large;
    }

    .deal_txt p:nth-child(2) {
        color: lightgray;
    }

    a {
        background-color: orangered;
        padding: 5px 10px;
        border-radius: 20px;
    }


    .deal_card {
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        color: black;

        /* width: 30%; */
        .dcard {
            display: flex;

            .dealcard_txt {
                padding: 20px 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                /* margin: 20px 0px; */
                border-right: 1px solid gray;

            }

            .dealcard_txt p:first-child {

                background-color: rgb(27, 184, 98);
                padding: 5px 10px;
                border-radius: 20px;
                width: 100px;
            }

            .dealcard_txt p:nth-child(2) {
                font-size: xx-large;
            }

            .dealcard_money {
                margin: 20px;
            }

            .p4 {
                font-size: xxx-large;
                background-color: linen;

            }

            .icon_a {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .icon_a i:first-child {
                color: orangered;
            }

            .area {

                display: flex;
                justify-content: space-between;
            }

            .area p:nth-child(2) {
                color: gray;
            }

            .area_2 {
                padding: 0px 30px;
                border-left: 1px solid gray;
                border-right: 1px solid gray;
            }
        }

        .check {
            padding: 20px;

            display: flex;
            justify-content: space-between;
            font-size: x-large;
        }
    }

}

/* End deal */

/* start agent */
.agent {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;

    .agent_txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .agent_image {
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .aimage {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .aimage>img {
        border-radius: 10px;
        margin-bottom: 10px;
        height: 300px;
        /* width: 250px; */
    }

    .aimage>p:nth-child(3) {
        color: gray;
    }

    .agent_txt1 p:first-child {
        font-size: xxx-large;
    }

    .agent_txt a {
        color: black;
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

/* end agent */

/* start estimate */
.estimate {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    height: 100vh;
    position: relative;

    .estimate_image {
        height: 80vh;
        width: 40%;
        background-image: url('./image/road-8275939_1920.jpg');
        background-size: cover;
        border-radius: 11px;
        margin: auto;

    }

    .esti_location {
        height: 30%;
        width: 25%;
        background-color: rgb(243, 237, 237);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 10px;
        gap: 5px;
        /* left: 200px; */
        border-radius: 10px;

    }

    .esti_location iframe {
        width: 100%;
        height: 70%;
    }

    .esti_location>p:nth-child(2) {
        font-size: xx-large;
    }

    .estimate_txt {
        width: 40%;
        height: 80vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 20px;
    }

    .estimate_txt>p:first-child {
        color: gray;
    }

    .estimate_txt>p:nth-child(2) {
        font-size: xxx-large;
        font-weight: bold;
    }

    .estimate_txt>p:nth-child(3) {
        font-size: large;
    }

    .find_out {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        /* width: 100%; */
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 8px;
        gap: 10px;


    }

    .find_out input {
        /* height: 1rem; */
        border: none;
        padding: 10px 0px;
        background-color: transparent;
        flex: 1;
    }

    .find_out a {

        background-color: orangered;
        padding: 10px 30px;
        border-radius: 10px;
    }

    .estimate_txt p:nth-last-child(1) {
        color: gray;
    }
}

/* end estimate */

/* start about section */

.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100svh;
    margin: 50px auto;
    gap: 50px;
}

.help_txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    /* height: 50svh; */
}

.help_txt span {
    color: rgb(27, 184, 98);
}

.help p:first-child {
    margin-bottom: 20px;
    font-size: xxx-large;
    color: black;

}

.help p:nth-child(2) {
    /* font-size: small; */
    color: gray;
}



.h_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50svh;

}

.ih {
    font-size: large;
    text-align: center;
}

.ih img {
    width: 250px;
    aspect-ratio: 1;
    margin: 10px;
    border-radius: 50%;
    /* box-shadow: 1px 1px 10px 5px rgb(0, 0, 0); */
}


.ih p:nth-child(2) {
    font-size: small;
    margin: 10px;
}

/* End about section */

/* start journy */

.journey {
    background-image: url('./image/room-8054835_1920.jpg');
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;


    .journey_txt {
        font-size: xxx-large;
    }

    .journey_txt span {
        color: rgb(27, 184, 98);
    }

    .j_email input {
        border: none;
        background-color: transparent;
    }

    .j_email a {
        background-color: orangered;
        padding: 10px 30px;
        border-radius: 7px;
    }

    .j_email {
        display: flex;
        justify-content: center;
        padding: 5px 5px;
        border: 1px solid white;
        border-radius: 7px;
        gap: 10px;
        /* width: 500px; */

    }

    .journy_email {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .journy_email p:nth-child(2) {
        font-size: small;
    }

    .journy_email p span a {
        color: orangered;
    }

}

/* End journy */

/* start inquiry */

.inquiry {
    height: 60vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inquiry p {
    font-size: xxx-large;
}

.inquiry p span {
    color: orangered;
}

.inquiry a {
    text-align: center;
    background-color: black;
    width: 15%;
    margin: 20px auto;
    font-size: small;
    padding: 10px;
    border-radius: 10px;

}

/* End inquiry */

/* start footer */
.footer {
    padding: 30px;

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.foot {
    border-top: 1px solid grey;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact_1 p:first-child {
    text-transform: uppercase;
    font-size: small;
}

.contact_1 p:nth-child(2) {
    text-decoration: underline;
    padding: 2px;
    font-size: x-large;
}

.contact_icon {
    font-size: x-large;
    padding: 5px;
}

.logo_1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo_1 img {
    /* height: 3vh; */
    width: 4vw;
    aspect-ratio: 1;
    border-radius: 50%;
}

.a a {
    color: gray;
    line-height: 2rem;
}

.a p {
    margin: 10px 0px;
    font-size: large;
    font-weight: bold;
}

.link {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding-right: 80px;

}

.legal {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding-right: 80px;
}

.products {
    display: flex;
    flex-direction: column;

}

/* End footer */