* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* container section */
.container {

    display: flex;
    flex-direction: column;

}

/* home page  */

.home {
    position: absolute;
    z-index: -1;
    height: 100svh;
    width: 100%;
    background-image: url("./image/homeimage.jpg");
    background-size: cover;
    filter: blur(2px);
}

/* header section */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.list ul {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
}

.logo p {
    font-size: 30px;
    font-weight: bold;

}

a {
    color: white;
    text-decoration: none;
}

button {
    margin: 2px;
    border: none;
    background: none;
}

/* end header */

/* main section */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.heading {
    text-align: center;
    padding: 50px;
}

.heading h1 {
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 10px;
}

.search_bar {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(197, 194, 194);
    outline: 5px;
    outline-offset: 5px;
    border-radius: 10px;
    width: 60%;
    height: 15vh;
}

.sitem p:nth-child(1) {
    margin-bottom: 4px;
    color: gray;
}

/* .i p:nth-child(2) {
    margin-bottom: 4px;
    font-weight: bold;
} */

.sitem {
    gap: 20px;
}

/* icon */
.ri-arrow-drop-down-line {
    font-size: 20px;
}

.search_item1 {

    display: flex;
    justify-content: space-between;
}

.search_item4 button {
    background-color: rgb(26, 22, 22);
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
}