* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.animation {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.anim1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url('../float/image/home-7860106_1920.jpg');
    animation: circle 10s linear infinite;
    outline-offset: 2px;
    
    box-shadow: 0px 0px 30px white;
    
}
/* .anim1::before {
    content: "day";
    display: none;
}   

.anim1::after {
    content: "night";
    display: none;
} */

/* @keyframes circle {
    0% {
        top: 0;
        left: 0;
        background-size: 100% 100%;
    
    }

    25% {
        left: 90vw;
        top: 0px;
        background-size: 140% 130%;
        background: linear-gradient(to bottom, blue, skyblue, white);

    }

    50% {

        top: 50vh;
        left: 90vw;
        background-size: 170% 160%;
        background-color: green;
    }
 

    75% {
      
        left: 0;
        top: 50vh;
       
        background-size: 240% 200%;
        background-color: aqua;
    }

    100% {
        left: 0;
        top: 0;
    }
}
 */

@keyframes circle {
    0% {
        
        transform: translateY(0);
    }



    50% {
        
translate: 95vw 90vh;
    }

    100% {
        
        
        transform: translate(0, 0);
    }
}