/* p{
    color: red;
} */

/* #box{
    color: blue;
} */

/* .box1{
    color: pink;
} */

/* p,h1,h2{
    color: darkorange;
} */

/* *{
    background-color: blue;
} */

p{
    background-color: blue;
}

p{
    color: aliceblue;
}
