* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px;
    padding: 20px;
    gap: 30px;
}

.container .box1 {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rosybrown;
    box-shadow: 10px 10px 5px 5px;

}

.container .box2 {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rosybrown;
}

h2 {
    text-align: center;
}

/* .box2{
    text-transform: capitalize;
} */
.p1 {
    text-transform: capitalize;
}

.p2 {
    text-transform: lowercase;
}

.p3 {
    text-transform: uppercase;
}